<launch>
    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find vins)/../launch/struct_core_config.rviz" />
    <node pkg="vins" type="vins_node_dpt" name="vins_estimator" output="screen" args="$(find vins)/../config/struct_core_cal_v2/struct_core.yaml">
	<param name="camera_calibrated" type="bool" value="true"/>
    </node>
</launch>
